PORT=5000
MONGO_URI=mongodb://localhost:27017/cm_grievance
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:3000

MCD311_API_BASE=https://api.mcd311.gov.in/v1
MCD311_API_KEY=mock_key_replace_in_production

MAX_FILE_SIZE=5242880

# Email Tracking (Nodemailer)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
FROM_EMAIL=noreply@samadhan.in
